<!DOCTYPE html>
<html>
<head>
    <title>מחשבון נזקי ההפיכה</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles/laws.css">
</head>
<body>
 <div class="container form-check form-check-reverse">
     <h1>מחשבון נזקי ההפיכה</h1>
     <p>?כיצד הרפורמה תשפיע עליך? בחר את כל המאפיינים המתאימים למצבך</p>
     <form method="POST" action="/submit">
        <div class="btn-group-vertical" role="group">
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_woman" value="cb_woman" autocomplete="off"><label for="cb_woman" class="btn btn-outline-primary">אישה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_man" value="cb_man" autocomplete="off"><label for="cb_man" class="btn btn-outline-danger">גבר</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_trans" value="cb_trans" utocomplete="off"><label for="cb_trans" class="btn btn-outline-warning">טרנסג'נדר</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_nonbinary" value="cb_nonbinary" autocomplete="off"><label for="cb_nonbinary" class="btn btn-outline-success">א-בינארי</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_emp" value="cb_emp" autocomplete="off"><label for="cb_emp" class="btn btn-outline-info">שכיר/ה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_independant" value="cb_independant" autocomplete="off"><label for="cb_independant" class="btn btn-outline-secondary">עצמאי/ת</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_kvi" value="cb_kvi" autocomplete="off"><label for="cb_kvi" class="btn btn-outline-success">עם קביעות</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_nokvi" value="cb_nokvi" autocomplete="off"><label for="cb_nokvi" class="btn btn-outline-danger">ללא קביעות</label><br />
                <input type="checkbox" class="btn-check" name="options" id="cb_pension" value="cb_pension" autocomplete="off"><label for="cb_pension" class="btn btn-outline-danger">פנסיונר</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_apt" value="cb_apt" autocomplete="off"><label for="cb_apt" class="btn btn-outline-warning">בעל/ת דירה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_noapt" value="cb_noapt" autocomplete="off"><label for="cb_noapt" class="btn btn-outline-primary">חסר/ת דירה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_rent" value="cb_rent" autocomplete="off"><label for="cb_rent" class="btn btn-outline-info">גר/ה בשכירות</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_dan" value="cb_dan" autocomplete="off"><label for="cb_dan" class="btn btn-outline-success">גר/ה במרכז</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_periphery" value="cb_periphery" autocomplete="off"><label for="cb_periphery" class="btn btn-outline-danger">גר/ה בפריפריה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_yosh" value="cb_yosh" autocomplete="off"><label for="cb_yosh" class="btn btn-outline-secondary">גר/ה ביו"ש</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_gay" value="cb_gay" autocomplete="off"><label for="cb_gay" class="btn btn-outline-danger">להט"ב</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_straight" value="cb_straight" autocomplete="off"><label for="cb_straight" class="btn btn-outline-info">סטרייט/ית</label>
                    <input type="checkbox" class="btn-check" name="options" id="cb_married" value="cb_married" autocomplete="off"><label for="cb_married" class="btn btn-outline-danger">נשוי/נשואה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_single" value="cb_single" autocomplete="off"><label for="cb_single" class="btn btn-outline-primary">רווק/ה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_divorced" value="cb_divorced" autocomplete="off"><label for="cb_divorced" class="btn btn-outline-success">גרוש/ה</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_haredi" value="cb_haredi" autocomplete="off"><label for="cb_haredi" class="btn btn-outline-primary">חרדי/ת</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_religious" value="cb_religious" autocomplete="off"><label for="cb_religious" class="btn btn-outline-danger">דתי ליברלי/ת</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_mustard" value="cb_mustard" autocomplete="off"><label for="cb_mustard" class="btn btn-outline-warning">חרד"ל</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_secular" value="cb_secular" autocomplete="off"><label for="cb_secular" class="btn btn-outline-success">חילוני/ת</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_nonjew" value="cb_nonjew" autocomplete="off"><label for="cb_nonjew" class="btn btn-outline-primary">לא יהודי</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_army" value="cb_army" autocomplete="off"><label for="cb_army" class="btn btn-outline-warning">משרת/ת בצבא</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_noarmy" value="cb_noarmy" autocomplete="off"><label for="cb_noarmy" class="btn btn-outline-success">לא שירתתי בצבא</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_reserve" value="cb_reserve" autocomplete="off"><label for="cb_reserve" class="btn btn-outline-primary">משרת/ת במילואים</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_disabled" value="cb_disabled" autocomplete="off"><label for="cb_disabled" class="btn btn-outline-danger">בעל/ת מוגבלות</label>
            </div>
            <div class="btn-group">
                <input type="checkbox" class="btn-check" name="options" id="cb_kidsgan" value="cb_kidsgan" autocomplete="off"><label for="cb_kidsgan" class="btn btn-outline-info">ילדים בגיל הגן</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_kidsschool" value="cb_kidsschool" autocomplete="off"><label for="cb_kidsschool" class="btn btn-outline-secondary">ילדים בגיל בית ספר</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_kidsarmy" value="cb_kidsarmy" autocomplete="off"><label for="cb_kidsarmy" class="btn btn-outline-success">ילדים בצבא</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_kidsuni" value="cb_kidsuni" autocomplete="off"><label for="cb_kidsuni" class="btn btn-outline-warning">ילדים באוניברסיטה</label>
                <input type="checkbox" class="btn-check" name="options" id="cb_singleparent" value="cb_singleparent" autocomplete="off"><label for="cb_singleparent" class="btn btn-outline-primary">אם/אב יחידני/ת</label>
            </div>

        </div>
        <br /><br /><br />
        <button type="submit" class="btn btn-primary">חשב</button>
    </form>
 </div>
</body>
</html>


